body {
    background-color: white;
}

h1 {
    color: crimson;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

h2 {
    color: orangered;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

h3 {
    color: lightseagreen;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 20px;
}

p {
    color: saddlebrown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

ul {
    color: maroon;
    text-decoration: solid;
    font-size: 20px;
}

ol {
    color: blueviolet;
    text-decoration: double;
    font-size: 20px;
}

a {
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    
}
th {
    background-color: #f2f2f2;
}
